<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.wts.shop.dao.StoreMapper">
  
  	<resultMap type="Store" id="storeMap">
  		<id column="sid" property="sid"/>
  		<result column="sname" property="sname"/>
  		<result column="datea" property="datea"/>
  		<collection property="goodes" ofType="Goods">
  			<id column="gid" property="gid"/>
  			<result column="gname" property="gname"/>
  		</collection>
  	</resultMap>
  
  	<select id="getStoreList" resultMap="storeMap">
  		select b.*,GROUP_CONCAT(a.gname)gname
		from t_goods a LEFT JOIN s_c c on a.gid = c.gid LEFT JOIN t_store b
		on b.sid = c.sid
		<where>
			<if test="sname != null and sname != ''">
				and sname like '%${sname}%'
			</if>
		</where>
		GROUP BY b.sid
  	</select>
  	
  	<!-- 获取商品 -->
  	<select id="getGoods" resultType="Goods">
  		select * from t_goods
  	</select>
  	
  	<!-- 添加店铺 -->
  	<insert id="addStore" useGeneratedKeys="true" keyProperty="sid">
  		insert into t_store set sname = #{sname},datea=#{datea}
  	</insert>
  	
  	<!-- 添加中间表 -->
  	<insert id="addCenter">
  		insert into s_c set sid = #{sid},gid=#{gid}
  	</insert>
  	
  	<!-- 删除商场 -->
  	<delete id="delStore">
  		delete from t_store where sid in
  		<foreach collection="sids" item="sid" open="(" separator="," close=")">
  			#{sid}
  		</foreach>
  	</delete>
  	
  	<!-- 删除中间表 -->
  	<delete id="delSc">
  		delete from s_c where sid in
  		<foreach collection="sids" item="sid" open="(" separator="," close=")">
  			#{sid}
  		</foreach>
  	</delete>
  	
  	<!-- 回显 -->
  	<select id="findStoreBySid" resultType="Store">
  		select * from t_store where sid = #{sid}
  	</select>
  	
  	<!-- 回显商品 -->
  	<select id="getGoodsBySid" resultMap="storeMap">
  		select b.*,GROUP_CONCAT(a.gname)gname
		from t_goods a LEFT JOIN s_c c on a.gid = c.gid LEFT JOIN t_store b
		on b.sid = c.sid where b.sid = #{sid}
		GROUP BY b.sid
  	</select>
  </mapper>